.user-header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.user-header-avatar {
    width: 96px;
    height: 96px;
    border-radius: 999px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .user-header-avatar {
        width: 84px;
        height: 84px;
    }
}

.user-header-info {
    display: flex;
    align-items: center;
    gap: 8px;
}